*/.ipynb_checkpoints/
*.h5
*.swp
notebooks/mydask.png
*.html
notebooks/first.txt
notebooks/user.txt
data/nycflights/1991.csv
data/nycflights/1992.csv
data/nycflights/1993.csv
data/nycflights/1994.csv
data/nycflights/1995.csv
data/nycflights/1996.csv
data/nycflights/1997.csv
data/nycflights/1998.csv
data/nycflights/1999.csv
notebooks/example.parquet
notebooks/nycflights/_common_metadata
notebooks/nycflights/_metadata
*.parquet
notebooks/sample.txt
notebooks/sample00.txt
notebooks/sample01.txt
notebooks/sample02.txt
notebooks/sample03.txt
notebooks/sample04.txt
notebooks/sample05.txt
notebooks/sample06.txt
notebooks/sample07.txt
notebooks/test.feather
.ipython/profile_default/history.sqlite
.ipython/profile_default/startup/README
.local/share/jupyter/nbsignatures.db
.local/share/jupyter/notebook_secret
.local/share/jupyter/runtime/notebook_cookie_secret
.jupyter/migrated
big-data/.local/share/jupyter/runtime/notebook_cookie_secret
.config/dask/dask.yaml
data/daily-stock/
.local/share/jupyter/runtime/kernel-7e0ae75d-c545-4208-9151-9d8877260517.json
.local/share/jupyter/runtime/nbserver-7.json
